<app-menu></app-menu>
<div class="container mt-3 pt-5">
  <div class="row g-0  position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
      <img src="../../assets/religion.jpg" class="w-100" alt="manos" width="150px" height="250px">
    </div>
    <div class="col-md-6 p-4 ps-md-0">
      <h3>DESDE EL ESPIRITU...</h3>
      <p>Buscar el equilibrio sentimental
        con nosotros mismos y con los demás con lleva un trabajo interior,donde expresar y escuchar se convierten en
        instrumentos para nuestro objetivo de vida.<br><br> En LIFE HEALT queremos ayudarte a encontrar ese
        equilibrio,brindándote guias que te ayuden a alcanzar tus metas interiores.</p>
    </div>
  </div>

  <div class="container mt-5 text-center">
    <h5 class="fst-italic ">NOTICIAS ESPIRITUALES </h5>
    <div class="row mt-3 align-items-start">
      <div class="col fst-italic">
        NOTICIA
      </div>
      <div class="col fst-italic">
        NOTICIA
      </div>
      <div class="col fst-italic">
        NOTICIA
      </div>
    </div>
  </div><br><br>
  <br><br>

  <div class="btn-group">
    <div class="float-m-2-start">
      <button type="button" class="btn btn-outline-secondary dropdown-toggle m-4" data-bs-toggle="dropdown"
        aria-expanded="false" color="blue">
        EVENTOS ACTUALES
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">INFORMACION</a></li>
        <li><a class="dropdown-item" href="#">INFORMACION</a></li>
        <li><a class="dropdown-item" href="#">INFORMACION</a></li>
      </ul>


      <div class="float-md-start">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle m-4" data-bs-toggle="dropdown"
          aria-expanded="false">
          PROXIMOS EVENTOS
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">INFORMACION</a></li>
          <li><a class="dropdown-item" href="#">INFORMACION</a></li>
          <li><a class="dropdown-item" href="#">INFORMACION</a></li>
        </ul><br><br>

      </div>
    </div>
  </div>

</div>
