<app-menu></app-menu>
<div class="container-fluid mt-5  mb-5 pb-5 ">
  <div class="row justify-content-center g-2">
    <div class="col-md-4 mb-5">
      <div class="card w-100 bg-transparent text-center ">
        <div class="card-header border-0 fw-bold">
          <h5>NOTICAS</h5>
        </div>
        <div class="card-body ">
          <div class="card bg-transparent border-0 w-100 mb-3">
            <div class="card-body">
              <h5 class="card-title">Cómo afrontar mejor los retos de la vida
              </h5>
              <p class="card-text">“Estrés” significa: tensión, tensión emocional y tensión física. El exceso de estrés
                puede ser perjudicial para nuestra salud. En estas situaciones, debemos ser capaces de reconocer las
                señales que nos envía el cuerpo, identificar las causas del estrés y aprender a manejarlo. </p>
              <a href="https://gestiona3.madrid.org/bvirtual/BVCM017692.pdf" class="btn btn-primary">Ampliar
                informacion</a>
            </div>
          </div>
          <div class="card  bg-transparent border-0 w-100 mb-3">
            <div class="card-body">
              <h5 class="card-title">El camino hacia una mejor salud</h5>
              <p class="card-text">La salud emocional le permite trabajar de manera productiva y lidiar con el estrés de
                la vida cotidiana. Puede ayudarlo a alcanzar su máximo potencial. Lo ayuda a trabajar con otras personas
                y contribuir a la sociedad.</p>
              <a href="https://es.familydoctor.org/salud-mental-como-mantener-su-salud-emocional/"
                class="btn btn-primary">Ampliar informacion</a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card bg-transparent text-center">
        <div class="card-header border-0 fw-bold">
          <h5> COMO TE SIENTES HOY</h5>
        </div>
        <div class="card-body">
          <form>
            <textarea name="" id="" cols="30" rows="5" class="form-control border-0 bg-transparent text-black"
              placeholder="Compatir algo"></textarea>
            <a href="#" class="btn btn-primary btn-sm">Compartir</a>
          </form>
        </div>
        <div class="card-footer border-0 ">
          <div class="card border-0 bg-transparent">

            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>Hoy es un gran dia para mi,me siento muy contento</p>
                <footer class="blockquote-footer"><cite title="Source Title">{{userLogged?.name}}</cite></footer>
              </blockquote>
            </div>
            <div class="card-footer">
              <div class="d-flex">
                <div class="w-100">
                  <input type="text" class="form-control bg-transparent border border-dark" placeholder="Responder"
                    name="" id="">
                </div>
                <div class="flex-shrink-1 ms-2">
                  <button class="btn btn-secondary">Enviar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
