<app-menu></app-menu>
<div class="container mt-3 pt-5">
  <div class="row g-0  position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
      <img src="https://t4.ftcdn.net/jpg/03/72/81/01/240_F_372810176_4UhI4oJtoIHG1e78QUIZOEULV0D2iNgd.jpg" class="w-100"
        alt="...">
    </div>
    <div class="col-md-6 p-4 ps-md-0">
      <h3>Salud Mental</h3>
      <p>La salud mental se refiere a un estado de bienestar emocional, psicológico y social en el que una persona es
        capaz de afrontar los desafíos de la vida diaria, trabajar productivamente y hacer contribuciones positivas a su
        comunidad. Incluye la capacidad de mantener relaciones saludables y positivas, así como la habilidad de regular
        emociones, pensamientos y comportamientos. </p>
    </div>
  </div>
</div>
<div class="container ">
  <div class="row">
    <div class="col-lg-12">
      <h3>¿Las enfermedades mentales tienen alguna cura?</h3>
      <p>En general, las enfermedades mentales son tratables, pero la curación completa depende de muchos factores,
        incluyendo la gravedad de la enfermedad, la edad de la persona, la duración de los síntomas y la respuesta a los
        tratamientos. Algunas enfermedades mentales, como la depresión y la ansiedad, pueden ser tratadas con éxito con
        terapia y medicamentos, mientras que otras, como la esquizofrenia, son crónicas y requieren un tratamiento
        continuo
        a lo largo de la vida. Es importante recordar que cada persona es única y que su experiencia con una enfermedad
        mental y su respuesta a los tratamientos pueden ser diferentes a las de otras personas.</p>
    </div>
    <div class="col-lg-12">
      <h3>¿Cómo saber si padezco de una enfermedad mental?</h3>
      <p>Si sospechas que puedes tener una enfermedad mental, es importante buscar la opinión de un profesional de la
        salud
        Ellos pueden evaluarte y determinar si tienes una condición , de ser así, brindarte un tratamiento
        adecuado. Algunos signos y síntomas que pueden ser indicativos de una enfermedad mental incluyen:</p>
      <ul>
        <li> Cambios significativos en el humor o el comportamiento</li>
        <li>Pensamientos persistentes y negativos sobre uno mismo</li>
        <li>Dificultad para concentrarse o tomar decisiones</li>
        <li>Pérdida de interés en actividades que antes eran disfrutadas</li>
        <li>Dificultad para relacionarse con los demás</li>
        <li>Problemas para dormir o alimentarse adecuadamente</li>
      </ul>
      <p>Es importante recordar que estos síntomas pueden ser causados por muchas otras cosas además de una enfermedad
        mental, y que un profesional de la salud es la única persona capacitada para hacer un diagnóstico preciso. Si
        tienes alguna preocupación, no dudes en buscar ayuda.
      </p>
    </div>
    <div class="col-lg-12">
      <div class="row">
        <div class="col-md-6">
          <div class="card border-0 bg-transparent">
            <div class="card-body">
              <h5 class="card-title">PROXIMOS EVENTOS</h5>
              <ul class="list-group-flush">
                <div class="d-flex pb-3 ">
                  <div class="w-100">Como ayudarme</div>
                  <div class=" flex-shrink-1"><a class="btn btn-secondary" href="http://">Inscribirme</a></div>
                </div>
                <div class="d-flex">
                  <div class=" w-100">Quiero ayuadr a alguien</div>
                  <div class=" flex-shrink-1"><a class="btn btn-secondary" href="http://">Inscribirme</a></div>
                </div>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
