<app-menu></app-menu>
<div class="container">
  <div class="row g-3 text-center">
    <div class="px-4 my-5 ">
      <img class="rounded rounded-circle " src="{{userLogged?.response.picture.data.url}}" alt="" width="300"
        height="320">
    </div>
  </div>
</div>
<div>
  <div class="container p-5">
    <div class="row justify-content-center align-items-center g-3">
      <input type="text" class="form-control" value="{{userLogged?.firstName}}">

      <input type="text" class="form-control" value="{{userLogged?.lastName}}">

      <input type="text" class="form-control" value="{{userLogged?.email}}">

      <input type="text" class="form-control" value="LOGUADO CON {{userLogged?.provider}}">
    </div>
  </div>
