<app-menu></app-menu>
<div class="container p-5 text-center">
  <div class="d-flex">
    <div class="p-3 w-75">
      <div class="input-group ">
        <input type="text" class="form-control" placeholder="Buscar Curso" aria-label="Input group example"
          aria-describedby="basic-addon1">
        <span class="input-group-text" id="basic-addon1">
          <i class="bi bi-search"></i>
        </span>
      </div>
    </div>
    <div class="p-3 w-25 flex-shrink-1  d-grid gap-2">
      <a routerLink="/comunidad" type="button" class="btn btn-secondary">Ir a la comunidad</a>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm ">
        <img class=" card-img-top"
          src="https://as2.ftcdn.net/v2/jpg/03/38/36/41/1000_F_338364178_OUyHx230AI63ccHeWLaWSUB71LuUog53.jpg "
          width="100%" height="225" alt="" srcset="">

        <div class="card-body ">
          <h5 class="card-title">SALUD ESPIRITUAL</h5>
          <p class="card-text">Un buen estado de salud espiritual nos ayuda a encontrar un propósito y significado en
            nuestras vidas, a enfrentar los desafíos de la vida con confianza y resiliencia, y a encontrar un sentido de
            paz y equilibrio en medio del caos.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-md btn-outline-secondary"><a class="text-dark text-decoration-none"
                  href="">View</a></button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://as2.ftcdn.net/v2/jpg/02/13/69/17/1000_F_213691742_bUiIM9XYfy1krArVdBR6j4UbSdKNTpEv.jpg" alt=""
          class="card-img-top" width="100%" height="225">

        <div class="card-body ">

          <h5 class="card-title">SALUD ENERGETICA</h5>
          <p class="card-text">La energía es la fuerza vital que fluye a través de cada célula de nuestro cuerpo, y
            cuando esta energía se desequilibra, puede llevar a una variedad de problemas de salud y emocionales. Por
            esta razón, es importante que cuidemos nuestra salud energética de manera regular. </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-md btn-outline-secondary"> View</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://as2.ftcdn.net/v2/jpg/05/27/48/49/1000_F_527484906_ff3m9B9mJ7UYxtcWlLf6e8iTQFefLgWw.jpg" alt=""
          class=" card-img-top" width="100%" height="225">

        <div class="card-body ">
          <h5 class="card-title">SALUD MENTAL</h5>
          <p class="card-text">En la actualidad, hay muchas personas que enfrentan problemas de salud mental,estos
            problemas son el resultado de situaciones estresantes o traumáticas que pueden afectar nuestro equilibrio
            emocional. Si estás buscando maneras de mejorar tu salud mental, un buen lugar para comenzar es con la
            educación</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-md btn-outline-secondary"> View</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm ">
        <img class=" card-img-top"
          src="https://as2.ftcdn.net/v2/jpg/03/38/36/41/1000_F_338364178_OUyHx230AI63ccHeWLaWSUB71LuUog53.jpg "
          width="100%" height="225" alt="" srcset="">

        <div class="card-body ">
          <h5 class="card-title">SALUD ESPIRITUAL</h5>
          <p class="card-text">Un buen estado de salud espiritual nos ayuda a encontrar un propósito y significado en
            nuestras vidas, a enfrentar los desafíos de la vida con confianza y resiliencia, y a encontrar un sentido de
            paz y equilibrio en medio del caos.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-md btn-outline-secondary"><a class="text-dark text-decoration-none"
                  href="">View</a></button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://as2.ftcdn.net/v2/jpg/02/13/69/17/1000_F_213691742_bUiIM9XYfy1krArVdBR6j4UbSdKNTpEv.jpg" alt=""
          class="card-img-top" width="100%" height="225">

        <div class="card-body ">

          <h5 class="card-title">SALUD ENERGETICA</h5>
          <p class="card-text">La energía es la fuerza vital que fluye a través de cada célula de nuestro cuerpo, y
            cuando esta energía se desequilibra, puede llevar a una variedad de problemas de salud y emocionales. Por
            esta razón, es importante que cuidemos nuestra salud energética de manera regular. </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-md btn-outline-secondary"> View</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://as2.ftcdn.net/v2/jpg/05/27/48/49/1000_F_527484906_ff3m9B9mJ7UYxtcWlLf6e8iTQFefLgWw.jpg" alt=""
          class=" card-img-top" width="100%" height="225">

        <div class="card-body ">
          <h5 class="card-title">SALUD MENTAL</h5>
          <p class="card-text">En la actualidad, hay muchas personas que enfrentan problemas de salud mental,estos
            problemas son el resultado de situaciones estresantes o traumáticas que pueden afectar nuestro equilibrio
            emocional. Si estás buscando maneras de mejorar tu salud mental, un buen lugar para comenzar es con la
            educación</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-md btn-outline-secondary"> View</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
